<div class= "text-center padded">
  <h1><%= @restaurant.title %></h1>
  <p><%= @restaurant.content %></p>
  <ul>
    <li class= "list-inline"><%= link_to "View all restaurants", restaurants_path, class: 'btn btn-primary' %></li>
    <li class= "list-inline">
      <%= link_to edit_restaurant_path(@restaurant) do %>
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      <% end %>
    </li>
    <li class= "list-inline">
      <%= link_to restaurant_path(@restaurant), method: :delete do %>
      <i class="fa fa-trash" aria-hidden="true"></i>
      <%end%>
    </li>
  </ul>
</div>
